*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    width: 100vw;
    background: #7b4397;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
}

.form_area{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    height: auto;
    width: auto;
    border-radius: 20px;
    box-shadow: 30px 35px 2px #52206b;
    padding: 20px;
}

.title{
    color: #7b4397;
    font-weight: 900;
    font-size: 1.5em;
    margin-top: 20px;
    text-shadow: #000 2px 1px;
}

.sub_title{
    color: #7b4397;
    font-weight: 900;
    font-size: 1.4em;
    margin-top: 20px;
    border: #000;
    text-shadow: #000 2px 1px;
}

.form_group{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 20px;
}

.label{
    margin-bottom: 10px;
    color: #000;
    font-weight: 600;
}

.indicator {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #7b4397;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    margin-right: 10px;
}

input[type="radio"] {
    display: none;
}

.label{
    outline: none;
    border: 2px solid #000;
    box-shadow: 3px 4px 0px 1px #000;
    width: 290px;
    padding: 12px 10px;
    border-radius: 4px;
    font-size: 15px;
    align-items: center;
}

.label:focus, .btn:focus{
    transform: translateY(4px);
    box-shadow: 1px 2px 0px 0px #000;
}

.btn{
    padding: 15px;
    margin: 30px 0px;
    width: 310px;
    font-size: 15px;
    background: #7b4397;
    border-radius: 30px;
    font-weight: 800;
    box-shadow: 5px 5px 0px 0px #000;
    color: #fff;
    border: none;
    cursor: pointer;
   left: 50px;
}

p{
    margin: 20px 0px;
}

.link{
    font-weight: 800;
}
.indicator{
    outline: none;
    border: 2px solid #000;
    box-shadow: 3px 4px 0px 1px #000;
    width: 40px;
    padding: 12px 10px;
    border-radius: 4px;
    font-size: 15px;
}
.btn.clicked {
    background-color: #00ff2a;
    color: #fff;
  }
  
.form_style:focus, .btn:focus{
    transform: translateY(4px);
    box-shadow: 1px 2px 0px 0px #000;
}